header img{padding-left: 241px;

}
nav{text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#img{padding-left: 53px;

}
header{display: flex;}

#image{display: flex;
padding-left: 100px;

}
#table{text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
}


header{background-color: gray;

}


